<div class="card main-card card-inverse mb-3">
    <img class="card-img rounded-0" src="images/proj-card-br.jpg" alt="Card image">
    <div class="card-img-overlay">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title heading-font text-center proj-card home-proj-title">Project Title</h5>
            <div>
                <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
            </div>
            <div class="w-100">
                <textarea class="form-control content-font form-rounded mt-5 home-proj-desc" rows="3"> This is a cool project that has some features</textarea>
            </div>
            <div class="card-footer text-muted proj-card-footer">
                <button type="submit" class="btn login-btn btn-block heading-font open-proj-console" data-toggle="modal" data-target=".proj-display-modal">Open Console</button>
            </div>
        </div>
    </div>
</div>