<div class="card main-card rounded-0 p-2 shadow-lg blue-border" data-ID="1">
    <div class="card-header pr-0 pl-0 pb-2">
        <span class="badge cache-snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
        <span class="badge cache-snippet-badge badge-pill badge-warning" value="">J query</span>
        <span class="badge cache-snippet-badge badge-pill badge-warning" value="">Github</span>
    </div>
    <div class="card-block heading-font">
        <ul class="nav nav-tabs m-2" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#action" role="tab" data-toggle="tab">Action</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#info" role="tab" data-toggle="tab">Info</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="active show tab-pane fade in p-2" id="action">
                <button class="btn btn-block mt-3 mb-3 btn-danger delete-snippet">Delete Snippet</button>
                <button class="btn remove-cache-tag btn-block mt-3 mb-3 cache-btn">Remove Tag</button>
                <div class="input-group mb-3">
                    <input class="form-control add-tag-input" type="text" placeholder="Add a tag">
                    <div class="input-group-append">
                        <button class="btn add-tag-btn cache-btn">Add tag</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="info">
                <div class="query-col">
                    <h5 class="heading-font">
                        <a target="_blank" class="cache-snip-url" href="">URL!</a>
                    </h5>
                </div>
                <div class="query-col">
                    <p class="cache-snip-text" class="content-font">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>