{{!-- Style Sheet for home page --}}
<link type="text/css" rel="stylesheet" href="css/home.css"> {{!-- Background Image Content --}}

<div id="home-main-content" class="d-flex align-items-center jutify-content-center">
    <div class="row home-tile-row w-100 justify-content-center">
        <a href="/" id="home-btn" class="btn btn-primary btn-lg mr-2 content-font m-2" target="_blank" style="width: 100px">Home</a>
        <div class="cover-inner container">
            <div class="p-4">
                <h1 class="jumbotron-heading heading-font display-2 text-center">
                    <strong class="text-white">Start Caching</strong>
                </h1>
            </div>
            <div class="row justify-content-center">
                <button id="cache-btn" type="button" class="btn btn-primary btn-lg mr-2 content-font">Cache</button>
                <button id="reddit-btn" type="button" class="btn btn-primary btn-lg ml-2 content-font">Reddit</button>
            </div>
        </div>
    </div>
</div>

{{!-- Element with all the cache information --}}
<div id="cache-div" class="home-main-div mx-auto">
    <nav id="search-nav" class="navbar navbar-light bg-white m-2 heading-font">
        <div id="search-tags" class="w-100">
            <div class="row mb-3 w-100 justify-content-center">
                <div class="col-12 p-0 ml-4">
                    <div class="input-group d-flex justify-content-center">
                        <input id="search-tag-input" class="form-control mr-md-2 search" type="search" placeholder="Start typing and click what you find interesting"
                            aria-label="Search">
                    </div>
                </div>
            </div>
            <ul class="list search-list p-4 content-font">
                {{#each tags}}
                <li>
                    <span class="badge badge-pill badge-light searchTags m-2">{{this}}</span>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="row w-100 justify-content-between mx-auto">
            <button class="btn cache-btn mr-auto btn-style" data-target="#add-snip-modal" data-toggle="modal">Add</button>
            <button id="get-all-snips" type="button" class="btn btn-xl float-right btn-style">
                Get All
            </button>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row p-2 justify-content-center">
            <div class="card-deck p-2">
                {{> home-cache-partials}}
            </div>
        </div>
    </div>
</div>

{{!-- Div with the reddit information --}}
<div id="reddit-div" class="home-main-div mx-auto">
    <div class="row" class="justify-content-center">
        <div class="span12 w-100 d-flex justify-content-center">
            <form id="custom-search-form" class="form-search form-horizontal w-100 mt-2 mb-2">
                <div class="col-12">
                    <div class="input-group d-flex justify-content-center">
                        <input id="search-reddit-input" class="form-control mr-md-2 search" type="search" aria-label="Search">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-xl float-right btn-style" id="search-reddit-btn">
                                Ask Reddit!
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="row w-100 justify-content-center">
            <img id="reddit-img" class="text-center" src="/images/subreddits.jpg">
        </div>
    </div>
</div>

{{!-- Div where the redit queries go --}}
<div class="reddit-query-col row mx-auto justify-content-center">

</div>

{{!-- Add Snippet Modal --}}
<div class="modal fade" id="add-snip-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-small" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header m-2">
                <h5 class="modal-title heading-font text-center">Add Snippet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="heading-font">
                    <div class="form-group mt-2 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fab fa-internet-explorer m-2 text-secondary"></i>
                            </span>
                            <input id="new-snip-name" type="text" class="form-control add-snip" placeholder="URL" required="required">
                        </div>
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="far fa-comments text-secondary m-2"></i>
                            </span>
                            <input id="new-snip-desc" class="form-control form-control-lg add-snip" placeholder="Text" required="required">
                        </div>
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-tags m-2 text-secondary"></i>
                            </span>
                            <input id="new-snip-tag" class="form-control add-snip" placeholder="Begginer tag">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-snip-btn" type="button" class="btn btn-block rounded-0 content-font">Add!</button>
            </div>
        </div>
    </div>
</div>
{{!-- Home Page Javascript File --}}
<script src="js/home.js"></script>