{{!-- Style Sheet for home page --}}
<link type="text/css" rel="stylesheet" href="css/home.css"> {{!-- Navbar Styling --}}
<nav id="navbar" class="navbar">
    <div class="d-flex align-items-center justify-content-between w-100">
        <a id="logOut-btn" class="p-1 btn rounded-0 heading-font h5 mr-2" target="_blank">Log Out</a>
        <div>
            <img id="landing-logo" src="images/usb_logo.png" class="mr-2 h-50">
            <p class="content-font d-inline text-white h5">User</p>
        </div>

        {{!-- REMOVED B/C SCOPE --}} {{!--
        <a id="projects-btn" href="/projects" class="p-1 rounded-0 heading-font h5 ml-2">Projects</a> --}}

    </div>
</nav>

{{!-- Main Contant begins --}}
<div class="main">
    <div id="home-main-content" class="m-2 animated zoomIn p-1">
        <div class="row home-tile-row p-1 m-1 justify-content-center">
            <div class="col-md-3 col-sm-4 home-tile m-2 p-2 d-flex flex-column">
                <h4 class="text-center heading-font mt-2 tile-header"> My Cache</h4>
                <img src="images/home-cache.png" class="img-fluid h-50 w-75 rounded mx-auto home-tile-img">
                <img id="cache-btn" src="images/home-select-arrow.png" class="img-fluid rounded mx-auto p-2 home-arrow animated pulse">
            </div>
            {{!-- REMOVED B/C SCOPE --}} {{!--
            <div class="col-md-3 col-sm-4   home-tile m-2 p-2 d-flex flex-column">
                <h4 class="text-center heading-font mt-2 tile-header">Projects</h4>
                <img src="images/home-projs.jpg" class="img-fluid h-50 w-75 rounded mx-auto home-tile-img">
                <img id="projs-btn" src="images/home-select-arrow.png" class="img-fluid rounded mx-auto p-2 home-arrow animated pulse">
            </div> --}}
            <div class="col-md-3 col-sm-4   home-tile m-2 p-2 d-flex flex-column">
                <h4 class="text-center heading-font mt-2 tile-header">Reddit</h4>
                <img src="images/home-reddit.jpg" class="img-fluid h-50 w-75 rounded mx-auto home-tile-img">
                <img id="reddit-btn" data-toggle="modal" data-target="#reddit-modal" src="images/home-select-arrow.png" class="img-fluid rounded mx-auto p-2 home-arrow animated pulse">
            </div>
        </div>
    </div>
    <div id="cache-div" class="home-main-div mx-auto">
        <nav class="navbar navbar-light bg-white m-2 heading-font">
            <div id="search-tags" class="w-100">
                <div class="row mb-3 w-100">
                    <div class="col-12">
                        <div class="input-group d-flex justify-content-center">
                            <input class="form-control mr-md-2 search" placeholder="Find a tag">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-circle btn-xl float-right search-proj-cache">
                                    <i class="fas fa-globe-americas" style="pointer-events: none;"></i>
                                </button>
                            </span>
                        </div>
                    </div> 
                </div>
                <ul class="list search-list p-4 content-font h6">
                    {{#each tags}}
                    <li>
                        <span class="badge badge-pill badge-light searchTags">{{this}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="w-100 d-flex mt-2">
                <button class="btn cache-btn mr-auto" data-target="#add-snip-modal" data-toggle="modal">Add</button>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row p-2">
                <div class="card-deck p-2 d-flex justify-content-center">
                    {{> home-cache-partials}}
                </div>
            </div>
        </div>
    </div>

    {{!-- REMOVED B/C SCOPE --}} {{!--
    <div id="projs-div" class="home-main-div mx-auto">
        <div class="m-2">
            <button id="add-proj-btn" type="button" class="btn btn-circle btn-xl m-1 shadow" data-toggle="modal" data-target="#add-project-modal">
                <i class="fas fa-plus-circle"></i>
            </button>
            <h5 class="tile-header d-inline p-2 mt-5 rounded heading-font">Launch New Project</h5>
        </div>
        <div class="card-deck p-2">
            {{> home-proj-partials}}
        </div>
    </div> --}}
    <div class="footer content-font">
        <i class="far fa-copyright"></i> HACKEDD Development Team 2018
    </div>
</div>
</div>
</div>

{{!-- New Project Modal --}} {{!-- REMOVED B/C SCOPE --}} {{!--
<div class="modal fade" id="add-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small" role="document">
        <div class="modal-content heading-font p-2">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 font-weight-bold">Time to share that good idea!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group mt-2 mb-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="far fa-lightbulb m-2 text-secondary"></i>
                    </span>
                    <input id="new-proj-name" type="text" class="form-control" placeholder="Project Name" required="required">
                </div>
            </div>
            <div class="form-group mt-2 mb-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="far fa-comments text-secondary m-2"></i>
                    </span>
                    <input id="new-proj-desc" class="form-control" placeholder="Description" required="required">
                </div>
            </div>
            <div class="form-group mt-2 mb-2 d-flex align-items-center">
                <h6 class="heading-font d-inline ml-2">Disable Public mode?</h6>
                <label class="switch ml-5">
                    <input id="public-proj" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="new-proj-btn" class="btn btn-default rounded-0">Start Project!</button>
            </div>
        </div>
    </div>
</div> --}} {{!-- Query Reddit Modal --}}
<div class="modal fade" id="reddit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div id="reddit-modal" class="modal-dialog modal-small" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header m-2">
                <h5 class="modal-title heading-font text-center">Ask Reddit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="span12 w-100 d-flex justify-content-center">
                        <form id="custom-search-form" class="form-search form-horizontal w-100">
                            <div class="input-append span12 w-100 d-flex justify-content-center">
                                <input id="search-reddit-input" type="text" class="search-query w-75" placeholder="Search">
                                <button type="button" id="search-reddit-btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="reddit-query-col">

                </div>
            </div>
            <div class="modal-footer">
                <button id="reddit-clear-btn" type="button" class="btn btn-block rounded-0 content-font">Clear</button>
            </div>
        </div>
    </div>
</div>


{{!-- Add Snippet Modal --}}
<div class="modal fade" id="add-snip-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-small" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header m-2">
                <h5 class="modal-title heading-font text-center">Add Snippet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="heading-font">
                    <div class="form-group mt-2 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fab fa-internet-explorer m-2 text-secondary"></i>
                            </span>
                            <input id="new-snip-name" type="text" class="form-control" placeholder="URL" required="required">
                        </div>
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="far fa-comments text-secondary m-2"></i>
                            </span>
                            <input id="new-snip-desc" class="form-control form-control-lg" placeholder="Text" required="required">
                        </div>
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-tags m-2 text-secondary"></i>
                            </span>
                            <input id="new-snip-tag" class="form-control" placeholder="Begginer tag">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-snip-btn" type="button" class="btn btn-block rounded-0 content-font">Add!</button>
            </div>
        </div>
    </div>
</div>

{{!-- Home Page Javascript File --}}
<script src="js/home.js"></script>