<link type="text/css" rel="stylesheet" href="css/home.css">
<nav id="navbar" class="navbar">
    <div class="d-flex align-items-center justify-content-between w-100">
        <a id="logOut-btn" class="p-1 rounded-0 heading-font h5 mr-2" target="_blank">Log Out</a>
        <div>
            <img id="landing-logo" src="images/usb_logo.png" class="mr-2 h-50">
            <p class="content-font d-inline text-white h5">User</p>
        </div>
        <a id="projects-btn" href="/projects" class="p-1 rounded-0 heading-font h5 ml-2">Projects</a>
    </div>
</nav>
<div class="main">
    <div id="home-main-content" class="m-2 animated zoomIn p-1">
        <div class="row home-tile-row p-1 m-1 justify-content-center">
            <div class="col-3 home-tile m-2 p-2 d-flex flex-column">
                <h3 class="text-center heading-font mt-2 tile-header">Cache</h3>
                <img src="images/home-cache.png" class="img-fluid h-50 w-75 rounded mx-auto home-tile-img">
                <img id="cache-btn" src="images/home-select-arrow.png" class="img-fluid rounded mx-auto p-2 home-arrow animated pulse">
            </div>
            <div class="col-3  home-tile m-2 p-2 d-flex flex-column">
                <h3 class="text-center heading-font mt-2 tile-header">Projects</h3>
                <img src="images/home-projs.jpg" class="img-fluid h-50 w-75 rounded mx-auto home-tile-img">
                <img id="projs-btn" src="images/home-select-arrow.png" class="img-fluid rounded mx-auto p-2 home-arrow animated pulse">
            </div>
            <div class="col-3  home-tile m-2 p-2 d-flex flex-column">
                <h3 class="text-center heading-font mt-2 tile-header">Reddit</h3>
                <img src="images/home-reddit.jpg" class="img-fluid h-50 w-75 rounded mx-auto home-tile-img">
                <img id="reddit-btn" data-toggle="modal" data-target="#reddit-modal" src="images/home-select-arrow.png" class="img-fluid rounded mx-auto p-2 home-arrow animated pulse">
            </div>
        </div>
    </div>
    <div id="cache-div" class="home-main-div mx-auto">
        <nav class="navbar navbar-light bg-white m-2 heading-font">
            <button class="btn cache-btn my-2 my-sm-0" data-target="#add-snip-modal" data-toggle="modal">Add</button>
            <form class="form-inline">
                <input class="form-control mr-md-2" type="search" placeholder="Search Tag" aria-label="Search">
                <button class="btn cache-btn my-2 my-sm-0">Search</button>
            </form>
        </nav>
        <div class="container-fluid">
            <div class="row p-2">
                <div class="card-deck">
                    <div class="card rounded-0 p-2 shadow-lg">
                        <div class="card-header pr-0 pl-0 pb-2">
                            <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                        </div>
                        <div class="card-block heading-font">
                            <ul class="nav nav-tabs m-2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#action" role="tab" data-toggle="tab">Action</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#info" role="tab" data-toggle="tab">Info</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active p-2" id="action">
                                    <button class="btn btn-block mt-3 mb-3 btn-danger">Delete Snippet</button>
                                    <button class="btn btn-block mt-3 mb-3 cache-btn">Remove Tag</button>
                                    <button class="btn btn-block mt-3 mb-3 cache-btn">Share With Group</button>
                                    {{!--
                                    <div id="share-group-snip" class="mb-2 content-font">
                                        <span class="badge badge-pill badge-dark">Group</span>
                                    </div> --}}
                                    <div class="input-group mb-3">
                                        <input id="add-tag-input" class="form-control" type="text" placeholder="Add a tag">
                                        <div class="input-group-append">
                                            <button id="add-tag-btn" class="btn cache-btn">Add tag</button>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="info">
                                    <div class="query-col">
                                        <h5 class="heading-font">
                                            <a href="#">URL!</a>
                                        </h5>
                                    </div>
                                    <div class="query-col">
                                        <p class="content-font">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div id="projs-div" class="home-main-div mx-auto">
        <div class="m-2">
            <button id="add-proj-btn" type="button" class="btn btn-circle btn-xl m-1 shadow" data-toggle="modal" data-target="#add-project-modal">
                <i class="fas fa-plus-circle"></i>
            </button>
            <h5 class="tile-header d-inline p-2 mt-5 rounded heading-font">Launch New Project</h5>
        </div>
        <div class="card-deck p-2">
            <div class="card card-inverse mb-3">
                <img class="card-img rounded-0" src="images/proj-card-br.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title heading-font text-center proj-card">Project Title</h5>
                        <div>
                            <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                            <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                            <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                            <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                            <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                            <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                            <span class="badge snippet-badge badge-pill badge-warning" value="">Sample Tag</span>
                        </div>
                        <div class="card-footer text-muted proj-card-footer">
                            <button type="submit" class="btn login-btn btn-block heading-font open-proj-console" data-toggle="modal" data-target=".proj-display-modal">Open Console</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer content-font">
        <i class="far fa-copyright"></i> HACKEDD Development Team 2018
    </div>
</div>

 
{{!-- Group Showing Modal --}}
<div class="modal fade proj-display-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

{{!-- New Project Modal --}}
<div class="modal fade" id="add-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content heading-font p-2">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 font-weight-bold">Time to share that good idea!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group mt-2 mb-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="far fa-lightbulb m-2 text-secondary"></i>
                    </span>
                    <input id="new-proj-name" type="text" class="form-control" placeholder="Project Name" required="required">
                </div>
            </div>
            <div class="form-group mt-2 mb-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="far fa-comments text-secondary m-2"></i>
                    </span>
                    <input id="new-proj-desc" type="password" class="form-control" placeholder="Description" required="required">
                </div>
            </div>
            <div class="form-group mt-2 mb-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fas fa-tags m-2 text-secondary"></i>
                    </span>
                    <input id="new-proj-tag" type="password" class="form-control" placeholder="Begginner tag">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="new-proj-btn" class="btn btn-default rounded-0">Start Project!</button>
            </div>
        </div>
    </div>
</div>

{{!-- Query Reddit Modal --}}
<div class="modal fade" id="reddit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header m-2">
                <h5 class="modal-title heading-font text-center">Ask Reddit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="span12 w-100 d-flex justify-content-center">
                        <form id="custom-search-form" class="form-search form-horizontal w-100">
                            <div class="input-append span12 w-100 d-flex justify-content-center">
                                <input id="search-reddit-input" type="text" class="search-query w-75" placeholder="Search">
                                <button type="button" class="btn" target="_blank" id="search-reddit-btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row reddit-query-row m-2 justify-content-center">
                    <div class="col-10 m-2 query-col">
                        <h5 class="heading-font">Subreddit title</h5>
                    </div>
                    <div class="col-10  m-2 query-col">
                        <h5 class="heading-font">
                            <a href="#">URL!</a>
                        </h5>
                    </div>
                    <div class="col-10  m-2 query-col">
                        <p class="content-font">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="reddit-clear-btn" type="button" class="btn btn-block rounded-0 content-font">Clear</button>
            </div>
        </div>
    </div>
</div>
{{!-- Add Snippet Modal --}}
<div class="modal fade" id="add-snip-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header m-2">
                <h5 class="modal-title heading-font text-center">Add Snippet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="heading-font">
                    <div class="form-group">
                        <label class="control-label " for="subject">URL</label>
                        <input class="form-control rounded-0" id="subject" name="subject" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label " for="message">Snippet</label>
                        <textarea class="form-control rounded-0" cols="40" id="message" name="message" rows="10"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-snip-btn" type="button" class="btn btn-block rounded-0 content-font">Add!</button>
            </div>
        </div>
    </div>
</div>

{{!-- Home Page Javascript File --}}
<script src="js/home.js"></script>