 {{!-- Landing Page StyleSheet --}}
<link type="text/css" rel="stylesheet" href="css/landing.css"> 
<div class="main">

	{{!-- Display navbar and starter text --}}
	<section class="cover-1 text-center">
		<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
			<div class="container content-font">
				<p class="text-white h2">Information</p>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav mt-2 mt-md-0 h3">
						<li class="nav-item active">
							<a class="nav-link" href="#">Contact us
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://github.com/DavidLapadula/proj2_backup" target="_blank">Check out the code</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="cover-container p-4">
			<div class="cover-inner container">
				<div id="display-header" class="p-4">
					<h1 class="jumbotron-heading heading-font display-2 text-white">
						<strong id="header-cache">Cache-It.</strong>
					</h1>
					<p class="lead content-font text-white">Download the chrome plugin for ultimate caching abilities!</p>

					<p>
						<a href="/home" id="log-in" class="btn btn-lg content-font" target="_blank">Start Caching</a>
					</p>
				</div>
					<i class="fas fa-arrow-down fa-5x"></i>
			</div>
		</div>
	</section>

	{{!-- Overlayed Images on the landing page --}}
	<div id="landing-page-about" class="row mr-0 ml-0 justify-content-center p-5">
		<div class="col-lg-4 col-md-10 col-sm-12 tile-container">
			<h2 class="text-center tile-header rounded">Store</h2>
			<div class="fade-container p-2 h-75 w-100">
				<img src="images/projs_br_5.jpg" class="landing-tile-img">
			</div>
			<div class="overlay landing-color">
				<div class="overlay-info content-font h3 w-100 p-2">
					Store useful snippets of information from the internet. 
					Save the URL where you found it. 
					Search subreddits for related information!
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-10 col-sm-12  tile-container">
			<h2 class="text-center tile-header rounded">Share</h2>
			<div class="fade-container p-2 h-75 w-100">
				<img src="images/landing_share_main.jpg" class="landing-tile-img">
			</div>
			<div class="overlay landing-color">
				<div class="overlay-info content-font h3 w-100 p-2">
					Share what you find interesting with everyone on the web !
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-10 col-sm-12  tile-container">
			<h2 class="text-center tile-header rounded">Tag</h2>
			<div class="fade-container p-2 h-75 w-100">
				<img src="images/landing_tag_data.jpg" class="landing-tile-img">
			</div>
			<div class="overlay landing-color">
				<div class="overlay-info content-font h3 w-100 p-2">
					Apply tags to all the information!
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- Landing Page Javascript File --}}
<script src="js/landing.js"></script>