<link type="text/css" rel="stylesheet" href="css/projects.css">
<nav id="navbar" class="navbar">
    <div class="d-flex align-items-center justify-content-between w-100">
        <a id="logOut-btn" class=" btn p-1 rounded-0 heading-font h5 mr-2" target="_blank">Log Out</a>
        <div>
            <img id="landing-logo" src="images/usb_logo.png" class="mr-2 h-50">
            <p id="user-name" class="content-font d-inline text-white h5">User</p>
        </div>
        <a id="home-btn" href="/home" class="p-1 rounded-0 heading-font h5 ml-2">Home</a>
    </div>
</nav>
<div class="main">
    <div id="projects-br" class="p-2 row justify-content-center">
        <div class="col-12 mb-2">
            <h2 class="heading-font p-3 mx-auto w-50 text-center animated fadeInUpBig" id="proj-home-header">Open Projects</h2>
        </div>
        <div id="projs-img-row" class="row mt-5 pt-5 justify-content-center animated fadeInDownBig">
            <img class="projs-img m-2" src="images/projs_br1.png">
            <img class="projs-img m-2" src="images/projs_br_4.jpg">
            <img class="projs-img m-2" src="images/projs_br3.jpg">
        </div>
    </div>
    <div id="projs-main-row" class="row pr-2 pl-2">
        <div class="col-md-3 content-font mt-3">
            <div id="search-column" class="p-2">
                <div id="search-tags">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="input-group">
                                <input class="form-control border-right-0 border search" type="text" placeholder="Search Tags">
                            </div>
                        </div>
                    </div>
                    <ul class="list">
                        <li>
                            <span class="badge badge-pill badge-light searchTags">Coding</span>
                        </li>
                        <li>
                            <span class="badge badge-pill badge-light searchTags">Javascript</span>
                        </li>
                        <li>
                            <span class="badge badge-pill badge-light searchTags">Vacations</span>
                        </li>
                        <li>
                            <span class="badge badge-pill badge-light searchTags">Food</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 mt-3">
            <div class="card-deck p-3">
                {{!-- Accordion Start --}}
                <div class="accordion accordion-3 z-depth-1-half heading-font shadow-lg p-2" id="accordionEx1" role="tablist" aria-multiselectable="true">
                    <div class="accordion-header-br">
                        <button type="button" class="join-btn btn btn-success text-white btn-circle btn-xl float-right">
                            <i class="fas fa-user-check"></i>
                        </button>
                        <ul class="list-unstyled d-flex justify-content-center pt-1 ml-5">
                            <i class="fas fa-project-diagram"></i>
                        </ul>
                        <h5 class="text-center ml-5 proj-name">Project Name</h5>
                    </div>
                    <hr>
                    <div class="card p-1">
                        <div class="card-header rounded-0 p-1 accordion-header-br" role="tab" id="heading4">
                            <a data-toggle="collapse" data-parent="#accordionEx1" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                <h5 class="mb-0 mt-3">
                                    Description
                                    <i class="fa fa-angle-down rotate-icon float-right"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapse4" class="collapse show" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx1">
                            <div class="card-body p-1">
                                <p class="content-font p-1 project-card-text mb-0 .proj-desc">
                                    This is a test project about a test subject.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card p-1">
                        <div class="card-header rounded-0 accordion-header-br p-1" role="tab" id="heading5">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                <h5 class="mb-0 mt-3">
                                    Tags
                                    <i class="fa fa-angle-down rotate-icon float-right"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapse5" class="collapse content-font" role="tabpanel" data-parent="#accordionEx1">
                            <div class="card-body pt-0 .proj-tags">
                                <span class="badge badge-pill badge-light card-tags">Javascript</span>
                                <span class="badge badge-pill badge-light card-tags">Java</span>
                                <span class="badge badge-pill badge-light card-tags">Arduino</span>
                                <span class="badge badge-pill badge-light card-tags">Ethernet</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="accordion-header-br">
                            <ul class="list-unstyled d-flex justify-content-center p-2">
                                <h5 class="text-center m-2">Click the User to join</h5>
                            </ul>
                        </div>
                    </div>
                </div>
                {{!-- Accordion End --}}

            </div>
        </div>
    </div>
    <div class="footer content-font">
        <i class="far fa-copyright"></i> HACKEDD Development Team 2018
    </div>
</div>

<script src="js/projects.js"></script>