<link type="text/css" rel="stylesheet" href="css/projects.css">
<nav id="navbar" class="navbar">
    <div class="d-flex align-items-center justify-content-between w-100">
        <a id="logOut-btn" class=" btn p-1 rounded-0 heading-font h5 mr-2" target="_blank">Log Out</a>
        <div>
            <img id="landing-logo" src="images/usb_logo.png" class="mr-2 h-50">
            <p id="user-name" class="content-font d-inline text-white h5">User</p>
        </div>
        <a id="home-btn" href="/home" class="p-1 rounded-0 heading-font h5 ml-2">Home</a>
    </div>
</nav>
<div class="main">
    <div id="projects-br" class="p-2 row justify-content-center">
        <div class="col-12 mb-2">
            <h2 class="heading-font p-3 mx-auto w-50 text-center animated fadeInUpBig" id="proj-home-header">Open Projects</h2>
        </div>
        <div id="projs-img-row" class="row mt-5 pt-5 justify-content-center animated fadeInDownBig">
            <img class="projs-img m-2" src="images/projs_br1.png">
            <img class="projs-img m-2" src="images/projs_br_4.jpg">
            <img class="projs-img m-2" src="images/projs_br3.jpg">
        </div>
    </div>
    <div id="projs-main-row" class="row pr-2 pl-2">
        <div class="col-md-3 content-font mt-3">
            <div id="search-column" class="p-2">
                <div id="search-tags">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="input-group">
                                <input class="form-control border-right-0 border search" type="text" placeholder="Search Tags">
                            </div>
                        </div>
                    </div>
                    <ul class="list">
                        <li>
                            <span class="badge badge-pill badge-light searchTags">Coding</span>
                        </li>
                        <li>
                            <span class="badge badge-pill badge-light searchTags">Javascript</span>
                        </li>
                        <li>
                            <span class="badge badge-pill badge-light searchTags">Vacations</span>
                        </li>
                        <li>
                            <span class="badge badge-pill badge-light searchTags">Food</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 mt-3">
            <div class="card-deck p-3">
                {{!-- Accordion Start --}}
         {{> projects-partials}}
                {{!-- Accordion End --}}

            </div>
        </div>
    </div>
    <div class="footer content-font">
        <i class="far fa-copyright"></i> HACKEDD Development Team 2018
    </div>
</div>

<script src="js/projects.js"></script>