<link type="text/css" rel="stylesheet" href="css/projects.css">
<nav id="navbar" class="navbar">
    <div class="d-flex align-items-center justify-content-between w-100">
        <a id="logOut-btn" class="p-1 rounded-0 heading-font h5 mr-2" target="_blank">Log Out</a>
        <div>
            <img id="landing-logo" src="images/usb_logo.png" class="mr-2 h-50">
            <p class="content-font d-inline text-white h5">User</p>
        </div>
        <a id="home-btn" href="/home" class="p-1 rounded-0 heading-font h5 ml-2">Home</a>
    </div>
</nav>
<div class="main">
    <div id="projects-br" class="mt-2 p-5">
        <h2 class="heading-font w-50 p-3 mx-auto text-center" id="proj-home-header">Projects Home</h2>
        <div>
 
        </div>
    </div>
    <div class="footer content-font">
        <i class="far fa-copyright"></i> HACKEDD Development Team 2018
    </div>
</div>