:root {
    --blue-color: #252839;
    --light-blue-color: #5f99cf; 
    --dark-grey-color: #677077;
    --light-grey-color: #b5b5b7;
    --yellow-color: #F8981D
} 
 
/* General Styles */

html {
height: 100%;
box-sizing: border-box;
}

*,
*:before, 
*:after { 
box-sizing: inherit;
}

body {
    position: relative;
    padding-bottom: 1rem;
    margin: 0;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none; 
    color: inherit; 
}

a:hover {
    color: var(--yellow-color);
    text-decoration: none
}

.heading-font {
    font-family: 'Libre Baskerville', serif;
} 

.content-font {
    font-family: 'Noto Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0; 
  }

li {
    display: inline; 
    margin: 5px;  
}

.main {
    margin: 0 auto 100px auto; 
}  


/* Main Content Styling */

#home-main-content {
    width: 100vw; 
    background: url("../images/world_br.jpg"); 
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
    display: table;
    min-height: 44rem;
    background-repeat: no-repeat;
}

.cover-inner {
    display: table-cell;
    vertical-align: middle; 
  }

.jumbotron-heading {
    color: var(--yellow-color)
}

.home-tile {
    background: rgba(255, 255, 255, 0.4);
    max-width: 400px; 
    max-height: 33.3%; 
}

.tile-header {
    color: var(--yellow-color); 
    background: rgba(3, 17, 56, 0.6);
}

.btn-style{
    color: var(--yellow-color);
    background-color: var(--blue-color);
}

.btn-style:hover {
    background-color: var(--yellow-color);
    color: var(--blue-color);
}

.home-main-div {
    width: 70vw; 
    max-width: 1000px;
    min-height: 200px; 
}

#home-btn {
    background-color: var(--yellow-color);
    color: var(--blue-color);
    position: absolute; 
    top: 0; 
    left: 0; 
}

#cache-btn {
    background-color: var(--yellow-color);
    color: var(--blue-color);
}

#cache-btn:hover {
   transform: scale(1.2); 
}

#reddit-btn {
    background-color: var(--yellow-color);
    color: var(--blue-color);
}

#reddit-btn:hover {
    transform: scale(1.2); 
}

#reddit-clear-btn {
    background-color: var(--yellow-color);
    color: var(--blue-color)
}

#reddit-img {
    width : 250px; 
    height: 150px; 
}

.reddit-query-row {
    border-style: inset; 
    border-color: var(--blue-color);
}

.query-col {
    background: rgba(3, 17, 56, 0.4);
}

/* Add Snippet Modal Styling */

#add-snip-btn {
    background-color: var(--yellow-color);
    color: var(--blue-color);
}

#add-snip-btn:hover {
    color: var(--yellow-color);
    background-color: var(--blue-color);
}

.main-card {
   min-width: 250px; 
   max-width: 300px; 

} 

.badge-pill {
    background-color: var(--yellow-color);
    color: var(--blue-color);
    font-size: 15px; 
}

.badge-pill:hover {
    cursor : pointer; 
    color: var(--yellow-color);
    background-color: var(--blue-color);

}

.search-list {
    background: rgba(3, 17, 56, 0.4); 
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
 }
 
 #loading-image {
   position: absolute;
   top: 100px;
   left: 240px;
   z-index: 100;
 }

 
/* Media Queries */

@media screen and (max-width: 650px) { 
    .home-main-div {
        width: 100vw; 
    }
    .jumbotron-heading{
      font-size: 3rem !important; 
    }

    #home-main-content {
        height: 300px;
        min-height: 0rem;  
    }

  }










  







  