:root {
    --blue-color: #252839;
    --dark-grey-color: #677077;
    --light-grey-color: #b5b5b7;
    --yellow-color: #F8981D
}


/* General Styles */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before, 
*:after { 
  box-sizing: inherit;
}
 
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  height: 100%; 
  background-color : #f7f7f8; 
} 

.main {
margin: 0 auto 0 auto; 
min-height: 100%; 
}

/* Content Styling */

#log-in {
  color: var(--blue-color); 
  background-color: var(--yellow-color); 
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 20%; 
}

.fa-arrow-down {
  color: var(--yellow-color)
}

.jumbotron-heading {
  color: var(--blue-color); 
}

.heading-font {
    font-family: 'Libre Baskerville', serif;
} 

.content-font {
    font-family: 'Noto Sans', sans-serif;
}

.landing-color {
  color: var(--yellow-color); 
}

.cover-1 {
  position: relative;
  z-index: 1;
}

.cover-1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2b2d34 url(../images/cover-bg-1.jpg) center;
  background-size: cover;
  height: 100%;
  border-radius: 0;
  width: 100%;
  color: white; 
  padding-top: 1rem; 
  opacity: .9;
}

.cover-1 h1 {
  font-weight: 200; 
}

.cover-1 p.lead {
  margin: 2rem auto;
}

.cover-1 .cover-container {
  display: table;
  min-height: 44rem;
  margin: 0 auto; 
}

.cover-inner {
  display: table-cell;
  vertical-align: middle; 
}

.tile-container {
  max-width: 500px; 
}


.tile-header {
  color: var(--blue-color);
}

#landing-page-about  {
  background-color : #f7f7f8; 
}

/* Fade Animation */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(3, 17, 56, 0.7);
}

.tile-container {
    max-width: 500px; 
}

.tile-header {
  color: var(--yellow-color);

}

.tile-container:hover .overlay {
  opacity: 1;
}
.landing-tile-img {
  width: inherit; 
  height: 100%; 
}

.overlay-info {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
line-height: 40px; 
}

@media screen and (max-width: 475px) { 
  .overlay-info {
    font-size: 100%; 
  }
  .cover-container{
    display: table-cell; 
  }
  #display-header, .cover-container {
    padding: 0px !important; 
  }

  #header-cache {
    font-size: 3rem !important; 
  }

  #landing-page-about {
    padding: 5px !important; 
  }
}
