:root {
    --blue-color: #252839;
    --dark-grey-color: #677077;
    --light-grey-color: #b5b5b7;
    --yellow-color: #F8981D
}

html {
height: 100%;
box-sizing: border-box;
}

*,
*:before, 
*:after { 
box-sizing: inherit;
}

body {
    position: relative;
    padding-bottom: 1rem;
    margin: 0;
    min-height: 100%;
}

.main {
    margin: 0 auto 100px auto; 
}


.heading-font { 
    font-family: 'Abril Fatface', cursive;
}

.content-font {
    font-family: 'IBM Plex Serif', serif;
} 

/* Navbar Styling */

#navbar { 
    background-color: var(--blue-color); 
}

#db-nav-logo {
    color: var(--yellow-color); 
}

#landing-logo {
    width: 50px; 
    border-radius: 50%; 
}

#logOut-btn, #home-btn {
    color: var(--blue-color); 
    background-color: var(--yellow-color)
}

#home-btn:hover {
    transform: rotateZ(-20deg);
}

/* Main Content Styling */

#projects-br {
    background: url("../images/projs_br_5.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 30vh; 

}

#proj-home-header {
    background: rgba(3, 17, 56, 0.6);
    color: var(--yellow-color)
} 

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--blue-color);
    color: var(--yellow-color);
    text-align: center;
  }